body {
  font-family: Arial;
  padding: 10px;
  width: 250px;
}

input {
  width: 100%;
  margin-bottom: 8px;
  padding: 5px;
}

button {
  width: 100%;
  margin-top: 5px;
  padding: 6px;
  cursor: pointer;
}
